body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.game-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.game-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard-container {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
}

[class$="-gameboard"] {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

[class$="-gameboard"] div {
  border: 1px solid black;
  padding: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

[class$="-gameboard"] .ship-placed {
  background-color: gray;
}

[class$="-gameboard"] .hit {
  color: lightgray;
}

[class$="-gameboard"] .ship-placed.hit {
  color: red;
}

[class$="-gameboard"] .hidden {
  background-color: white;
}

.game-content .not-turn {
  opacity: 0.3;
  pointer-events: none;
}
